<% provide(:title, "About") %>
<h1>About</h1>
<p>
  Dungeon Master's Workshop is imagined and created by my <a href="http://www.anduin.ch">Michael Mühlebach</a>. Its a place for dungeon masters to create their stuff for the game table like creating spell cards for NPCs and the players, create encounters and easily calculate the challange rating, build hoards of trasure items for the party to loot in the future of your campaign and print out beautiful cards for them.
</p>
<p>
  Of course many of it is still in the beginning or not even startet. Years ago when I started again with RPG and especially with being dungeon master, I created word files with rule hints etc which I could print out.
</p>
<p>
  With moving to D&amp;D5 from DSA a year ago many complicated rules vanished and I had no need for all my rulecards any more. But instead it came apparent that I need better preparations for magic items, spells and espacially encounters.
</p>
<p>
  In DSA magic is so seldom and complicated only the wizards understand the rules actually so as DM you only had to occationally check. Figths were so complicated and long I tried to minimalize the complexity of the encounters so the players could freely use the time for their actions.
</p>
<p>
  After some time DMing D&amp;D5 I started with the tradional handwritten cards for spells and encounters but quickly turned to something more sophisticated: I written some XSL files for turning pure XML databases of monsters, spells, items and reference cards into beautiful HTML files for printing double-sided A7 and A6 cards.
</p>
<p>
  After some time though I started creating my own monsters. First I had some difficutlties with calculated values (I did not want for instance to calculate passive perception each time for myself) but I managed it. But when I stumbeld accross the cool secion in the DMM about creating your own monsters and calculating the CR, I had to rethink my whole approach with XML files and XSL.
</p>
<p>
  I have searched the web for something similar of what I wanted but did not find anything satisfing. There are some cool places which inspierd me greatly like <a href="http://www.dnd-spells.com">D&amp;D Spells</a> or <a href="http://crobi.github.io/rpg-cards/generator/generate.html">RPG Card generator</a> but their either focus too much on just spells or focus to much on only the printing part.
  So I dusted off my rails skills and started from scratch.
</p>
<p>
  I am really at the beginning and focus at the moment just to replicate the functionality I have with my old solution: Be able to print good looking cards for spells, monsters, items and references. Everything else is for the moment not that important like, have attractive website over all. Create new cards with good usability. etc. But all that will come.
</p>