<% provide(:title, "Home") %>
<h1>Dungeon Master Workshop</h1>
<p>
  Here you will be able to create your enconters, your spells, your treasure for the epic adventures you've come up for your party.
</p>
