<% if logged_in? %>

<div class="row">
  <aside class="col-md-4">
    <section class="spells">
      <h1>Spells</h1>
      <ul>
        <li><%= link_to 'Spells', spells_path %></li>
        <li><%= link_to 'Classes', hero_classes_path %></li>
      </ul>
    </section>
  </aside>
</div>

<% else %>

<div class="center jumbotron">
  <h1>Dungeon Master Workshop</h1>
  <h2>
    Here you will be able to create your enconters, your spells, your treasure for the epic adventures you've come up for your party.
  </h2>
  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>

<% end %>