
body {
	width: 300mm;
	margin: 0px;
	padding: 0px;
	font-size: 8pt;
	font-family: Helvetica, Arial, sans-serif;
}

.description {
	font-size: 10pt;
	line-height: 1;
	font-family: Times New Roman, Times, serif;
}

.ability, .stat, .savingThrows, .senses, .skills, .description, .list {
	margin: 2px;
}

.name {
	margin: 2px;
	font-weight: bold;
	font-size: 16pt;
	font-family: Times New Roman, Times, serif;
}

.title {
	font-weight: bold;
}

.abilities .title {
	text-align: center;
	text-transform: uppercase;
}

.abilities .value {
	text-align: center;
}

.card {
	height: 105mm;
	width: 75mm;
	border: 1px solid black;
	padding: 3px;
	margin: 3px;
	float: left;
}

.abilities .stretch {
    width: 100%;
    display: inline-block;
    font-size: 0;
    line-height: 0
}

.abilities {
	height: 30px;
	text-align: justify;
    -ms-text-justify: distribute-all-lines;
    text-justify: distribute-all-lines;
}

.abilities .ability {
	vertical-align: top;
	width: 40px;
	height: 30px;
	display: inline-block;
	*display: inline;
}

.savingThrows div {
	display: inline;
}

.savingThrows .ability .title {
	font-weight: normal;
}

.savingThrows .title {
	text-align: left;
	text-transform: capitalize;
}

.savingThrows .stretch {
    width: 0px;
    font-size: 0;
    line-height: 0
}

.stat div {
	display: inline;
}

.list div {
	display: inline;
}

.list > .title {
	font-weight: bold;
}

.list .listElement:after {
	content: ", ";
}

.list .listElement:last-child:after {
	content: "";
}

.skills div {
	display: inline;
}

.skills > .title {
	font-weight: bold;
}

.skill > .title {
	font-weight: normal;
}

.skills .skill:after {
	content: ", ";
}

.skills .skill:last-child:after {
	content: "";
}

.senses div {
	display: inline;
}

.senses > .title {
	font-weight: bold;
}

.sense > .title {
	font-weight: normal;
}

.senses .sense:after {
	content: ", ";
}

.senses .sense:last-child:after {
	content: "";
}

.attack div {
	display: inline;
}

div.attack {
	margin-bottom: 3pt;
	margin-top: 3pt;
}

.actions > div.title {
	font-size: 12pt;
	border-bottom: solid 1pt black;
}

.attack .title {
	font-style: italic;
}

.attack .type {
	font-style: italic;
}

@media print {
	body {
		margin: 0px;
		padding: 0px;
	}

	.card {

	}
	
	@page {
		margin: 0px;
		padding: 0px;
	}
}
