
body {
	width: 297mm;
	margin: 0px;
	padding: 0px;
	font-size: 8pt;
	font-family: Helvetica, Arial, sans-serif;
}

.description {
	font-size: 8pt;
	line-height: 1;
	font-family: Didot, Times New Roman, Times, serif;
	overflow: hidden;
}

.item .description {
	font-size: 12pt;
}

.item ul {
	padding-left: 10px;
	list-style-type: none;
}

.item li {
	margin-bottom: 20px;
}

.card > div {
	margin: 2px;
}

.card {
	border: 1px solid black;
	padding: 6px;
	margin: 6px;
	overflow: hidden;
}

.A6 .card {
	height: 670px;
	width: 459px;
	margin: 25px;
	padding: 25px;
}

.A7 .card {
	height: 347px;
	width: 254px;
}

.row {
	display: -webkit-flex;
	flex-direction: row;
}

.name {
	margin: 2px;
	font-weight: bold;
	font-size: 16pt;
	font-family: Didot, Times New Roman, Times, serif;
}

.type {
	font-style: italic;
}

.classes {
	float: right;
}

.title {
	font-weight: bold;
}

.abilities .title {
	text-align: center;
	text-transform: uppercase;
}

.abilities .value {
	text-align: center;
}

.abilities .stretch {
    width: 100%;
    display: inline-block;
    font-size: 0;
    line-height: 0
}

.abilities {
	height: 30px;
	text-align: justify;
    text-justify: distribute-all-lines;
}

.abilities .ability {
	vertical-align: top;
	width: 38px;
	height: 30px;
	display: inline-block;
	*display: inline;
}

.savingThrows div {
	display: inline;
}

.savingThrows .ability .title {
	font-weight: normal;
}

.savingThrows .title {
	text-align: left;
	text-transform: capitalize;
}

.savingThrows .stretch {
    width: 0px;
    font-size: 0;
    line-height: 0
}

.stat div, .list div, .castingTime div, .range div, .components div, .duration div {
	display: inline;
}

.list > .title {
	font-weight: bold;
}

.listElement > div.title {
	font-weight: normal;
}

.list .listElement:after {
	content: ", ";
}

.list .listElement:last-child:after {
	content: "";
}

.bulletpoint div {
	display: inline;
}

div.bulletpoint {
	margin-bottom: 3pt;
	margin-top: 3pt;
}

.bulletlist > div.title {
	font-size: 12pt;
	border-bottom: solid 1pt black;
}

.bulletpoint .title {
	font-style: italic;
}

.bulletpoint .type {
	font-style: italic;
}

@media all {
	body {
		margin: 0px;
		padding: 0px;
		writing-mode: tb-rl;
	}
	
	@page {
		margin: 0px;
		padding: 0px;
		size: landscape;
	}

	.card-8,
	.cardb-5,
	.page {
		page-break-after: always;
		page-break-inside: avoid;
	}
}
