<%= form_for(spell, url: erase_spellbook_path(current_spellbook),
             html: {method: :delete},
             remote: true) do |f| %>
    <%= hidden_field_tag :spell_id, spell.id %>
    <%= f.button type: 'submit', class: "btn btn-xs btn-danger" do %>
        <span class="glyphicon glyphicon-minus"></span>
    <% end %>
<% end %>
