<%= form_for(spell, url: inscribe_spellbook_path(current_spellbook), remote: true) do |f| %>
    <div><%= hidden_field_tag :spell_id, spell.id %></div>

    <%= f.button type: 'submit', class: "btn btn-xs btn-success" do %>
        <span class="bi bi-plus-circle"></span>
    <% end %>
<% end %>
