<div class="nested-fields">
  <% @it = f.options[:child_index] %>
  <%= hidden_field_tag 'spellbook[spell_ids][]', f.object.id, id: "spellbook_spell_ids_#{@it}" %>
  <%= f.autocomplete_field :name, autocomplete_spell_name_spellbooks_path, id_element: "#spellbook_spell_ids_#{@it}" %>

  <%= link_to_remove_association 'remove spell', f %>
</div>
