<h1>Spellbook#show</h1>

<h2><%= @spellbook.name %></h2>

<ul>
  <% @spells.each do |spell| -%>
      <li><%= spell.name %></li>
  <% end -%>
</ul>

<%= form_for @spellbook do |f| %>
    <%= f.autocomplete_field :spells, autocomplete_spell_name_spellbooks_path, 'data-delimiter' => ',', multiple: true %>

<% end %>
