<% provide(:title, 'All monsters') %>

<% provide(:search_path, monsters_path) %>
<% provide(:print_path, print_monsters_path(search: params[:search])) %>
<% provide(:new_path, new_monster_path) %>
<% provide(:page_title, 'Search monsters') %>

<table class="table table-striped">
  <tr>
    <th>#</th>
    <th>Name</th>
    <th>Type</th>
    <th>CR</th>
    <th class="last"></th>
  </tr>
  <%= render @monsters %>
</table>

<%= render partial: 'modal', collection: @monsters, as: :monster %>
