@mixin flexbox {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
}

@mixin justify-content($values) {
  -webkit-box-pack: $values;
  -webkit-justify-content: $values;
  justify-content: $values;
}

@mixin align-content($values) {
  -webkit-align-content: $values;
  align-content: $values;
}

@mixin flex-direction($values) {
  -webkit-flex-direction: $values;
  @if $values == 'row' {
    -webkit-box-orient: horizontal;
  } @else if($values == 'column') {
    -webkit-box-orient: vertical;
  }
  -webkit-box-direction: normal;
  flex-direction: $values;
}

@mixin flex-wrap($values) {
  -webkit-flex-wrap: $values;
  flex-wrap: $values;
}

@mixin flex($values) {
  -webkit-flex: $values;
  -webkit-box-flex: $values;
  flex: $values;
}

@mixin align-items($values) {
  -webkit-align-items: $values;
  -webkit-box-align: $values;
  align-items: $values;
}

@mixin rotate {
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  transform: rotate(-90deg);
}
