<% provide(:title, 'All hero classes') %>
<h1>All hero classes</h1>


<%= link_to "New", new_hero_class_path, class: 'btn btn-default', role: 'button' %>

<%== pagy_bootstrap_nav @pagy %>

<ul class="hero_classes">
  <%= render @hero_classes %>
</ul>

<%== pagy_bootstrap_nav @pagy %>
