<% provide(:title, 'New hero class') %>

<h1>Hero class</h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@hero_class) do |f| %>
      <%= render 'fields', f: f %>
      <%= f.submit "Create new hero class", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
