<% provide(:title, 'Sign up') %>

<div class="row">
  <div class="col-xs-12">
    <div class="page-header">
      <h1>Sign up</h1>
      <small>Because I pay the whole infrastructure myself I want to limit
        access at least a little bit through a registration process. You will not
        receive any kind of ad mails and your data will not be used somewhere
        else.
      </small>
    </div>
  </div>
</div>
<div class="col-fixed-300">
  <div class="row">
    <div class="col-xs-12">
      <%= form_for(@user) do |f| %>
          <%= render 'fields', f: f %>
          <div class="form-group">
            <%= f.submit "Create my account", class: "btn btn-primary" %>
          </div>
      <% end %>
    </div>
  </div>
</div>
