<% if @cards.any? %>
<table class="table table-striped">
  <tr>
    <th>#</th>
    <th>Name</th>
    <th>Level</th>
    <th>School</th>
    <th>Classes</th>
    <th colspan="99"></th>
  </tr>
  <%= render @cards %>
</table>
<%= render partial: 'spells/modal', collection: @cards, as: :card %>


<%= will_paginate @cards %>

<% end %>