<% if @spells.any? %>
<table class="table table-striped">
  <tr>
    <th>#</th>
    <th>Name</th>
    <th>Level</th>
    <th>School</th>
    <th>Classes</th>
    <th colspan="99"></th>
  </tr>
  <%= render @spells %>
</table>
<%= render partial: 'spells/modal', collection: @spells, as: :spell %>


<%= will_paginate @spells %>

<% end %>