<!-- Modal -->
<%
   index = spell_counter
   next_index = (index + 1)%@spells.size
   prev_index = (index - 1)%@spells.size
%>

<%= render layout: 'shared/modal', locals: { card: spell, large: true, index: index, next_index: next_index, prev_index: prev_index } do %>
  <div class="col-md-4">
    <%= render 'shared/card_card', card: spell.card_data %>
  </div>
  <div class="col-md-8">
    <%= render 'shared/spell_detail', spell: spell %>
  </div>
<% end %>
