<% provide(:title, 'All spells') %>
<h1>All spells</h1>

<div class="row">
  <aside class="col-md-4">
    <section class="spell_form">
      <%= render 'shared/spell_form' %>
    </section>
  </aside>
  <div class="col-md-8">
    <h3>Spell Feed</h3>
    <%= will_paginate %>

    <div class="spells">
      <%= render @spells %>
    </div>

    <%= will_paginate %>
  </div>
</div>
