<% provide(:title, 'All items') %>

<% provide(:search_path, items_path) %>
<% provide(:print_path, print_items_path(search: params[:search])) %>
<% provide(:new_path, new_item_path) %>
<% provide(:page_title, 'Search items') %>

<table class="table table-striped table-hover table-responsive">
  <tr>
    <th>#</th>
    <th>Name</th>
    <th>Category</th>
    <th>Rarity</th>
    <th>Attunement</th>
    <th class="last"></th>
  </tr>
  <%= render partial: @cards, collection: @cards, as: :card %>
</table>

<div id="modals">
  <%= render partial: 'modal', collection: @cards, as: :card %>
</div>
