<% provide(:title, 'All items') %>

<% provide(:search_path, items_path) %>
<% provide(:print_path, print_items_path(search: params[:search])) %>
<% provide(:new_path, new_item_path) %>
<% provide(:page_title, 'Search items') %>

<table class="table table-striped">
  <tr>
    <th>#</th>
    <th>Name</th>
    <th>Category</th>
    <th>Rarity</th>
    <th>Attunement</th>
    <th colspan="99"></th>
  </tr>
  <%= render @items %>
</table>

<%= render partial: 'modal', collection: @items, as: :item %>

<%= will_paginate %>
