<h1>Import from cards</h1>

<div>
  <div class="row">
    <div class="col-xs-12"><%= link_to 'Monsters', action: 'show', id: 'monsters' %></div>
  </div>
  <div class="row">
    <div class="col-xs-12"><%= link_to 'Spells', action: 'show', id: 'spells' %></div>
  </div>
  <div class="row">
    <div class="col-xs-12"><%= link_to 'Items', action: 'show', id: 'items' %></div>
  </div>

</div>



