@import "mixins/flex";

div.spells {
  @include flexbox();
  @include align-content(center);
  @include justify-content(center);
  @include flex-direction(row);
  @include flex-wrap(wrap);
  padding: 0;
}

div.card {
  color: maroon;
  border-color: maroon;
  background-color: maroon;
}

.card {
  border: 2mm solid;
  border-radius: 4px;
  box-sizing: border-box;
  position: relative;
  @include flexbox();
  @include flex-direction(column);
  font-family: 'Noto Sans', 'Myriad Pro', Calibri, Helvetica, Arial, sans-serif;
  font-size: 8pt;
}

.card-content-container {
  padding:2mm;
  padding-top:1mm;
  border-radius: 2mm;
  margin-top:0px;
  background-color: white;
  border-color: inherit;
  @include flexbox();
  @include flex-direction(column);
  @include flex(1);
  font-size: inherit;
}

.card-back {
    background-color: white;
    border-radius: 4mm;
    border-color: inherit;
    margin: 3mm;
    @include flex(1);
    @include flexbox();
}

.card-back-inner {
    margin: 3mm;
    border: 1mm solid;
    border-color: inherit;
    border-radius: 4mm;
    @include flex(1);
    @include flexbox();
  @include flex-direction(row);
  @include flex-wrap(wrap);
  @include justify-content(center);
    @include align-items(center);
    @include align-content(center);
}

.card-back-icon {
    width: 1in;
    height: 1in;
    border: 4mm solid;
    border-color: inherit;
    border-radius: 4mm;
    background-repeat: no-repeat;
    background-size: contain;
}

.card-title-icon {
    width: 12mm;
    height: 12mm;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: inherit;
    border-color: inherit;
}
.card-title-icon-container {
    position: absolute;
    right: -1mm;
    top: -1mm;
    border: 1mm solid;
    border-radius: 1mm;
    background-color: inherit;
    border-color: inherit;
}

.card-title-inlineicon {
    width: 7mm;
    height: 7mm;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: inherit;
    border-color: inherit;
}
.card-title-inlineicon-container {
    position: absolute;
    right: -1mm;
    top: -1mm;
    border: 1mm solid;
    border-radius: 1mm;
    background-color: inherit;
    border-color: inherit;
}

.card-title {
  font-size: 13pt;
  line-height: 7mm;

  height: 8mm;
  padding-left: 2mm;
  font-family: Lora, 'Calisto MT', 'Bookman Old Style', Bookman, 'Goudy Old Style', Garamond, 'Hoefler Text', 'Bitstream Charter', Georgia, serif;
  font-variant: small-caps;
  font-weight: bold;
  background-color: inherit;
  color: white;
}

.card-subtitle {
  height: 18px;
  line-height: 18px;
  margin-bottom: 0.0em;
  font-family: 'Noto Sans', 'Myriad Pro', Calibri, Helvetica, Arial, sans-serif;
  font-size: 10pt;
  font-style: italic;
}

.card-property-line {
  text-indent: -1em;
  margin-left: 1em;
  font-size: inherit;
  color: black;
}

.card-property-name {
  display: inline;
  font-size: inherit;
}

.card-property-text {
  display: inline;
}


.card-section {
  border-bottom: 1px solid;
  font-size: 10pt;
  font-variant: small-caps;
  font-weight: normal;
  letter-spacing: 1px;
  margin: 0;
  border-color: inherit;
}

.card-section + .card-element {
  margin-top: 0.3em;
}

.card-p {
}

.card-fill {
  @include flex(1);
}

.card-description-line {
  margin-top: 0.5em;
  margin-bottom: 0.0em;
  font-size: inherit;
  color: black;
}
.card-description-name {
  display: inline;
  font-size: inherit;
  font-style: italic;
  font-weight: bold;
}
.card-description-name::after {
  content: ".";
}
.card-description-text {
  display: inline;
}

.card-ruler {
    width: 100%;
    height: 1.0mm;
    margin-top: 0.3em;
    margin-bottom: 0.3em;
}
