.icon-class-barbarian { background-image: image-url("classes/barbarian.png");}
.icon-class-bard { background-image: image-url("classes/bard.png");}
.icon-class-cleric { background-image: image-url("classes/cleric.png");}
.icon-class-druid { background-image: image-url("classes/druid.png");}
.icon-class-fighter { background-image: image-url("classes/fighter.png");}
.icon-class-monk { background-image: image-url("classes/monk.png");}
.icon-class-paladin { background-image: image-url("classes/paladin.png");}
.icon-class-ranger { background-image: image-url("classes/ranger.png");}
.icon-class-rogue { background-image: image-url("classes/rogue.png");}
.icon-class-sorcerer { background-image: image-url("classes/sorcerer.png");}
.icon-class-warlock { background-image: image-url("classes/warlock.png");}
.icon-class-wizard { background-image: image-url("classes/wizard.png");}