.icon-custom-armor-light { background-image: image-url("leather-vest.png");}
.icon-custom-armor-medium { background-image: image-url("lamellar.png");}
.icon-custom-armor-heavy { background-image: image-url("breastplate.png");}
.icon-custom-shield { background-image: image-url("round-shield.png");}

.icon-custom-potion { background-image: image-url("drink-me.png");}
.icon-custom-light { background-image: image-url("candle-flame.png");}
.icon-custom-flask { background-image: image-url("fizzing-flask.png");}
.icon-custom-vial { background-image: image-url("chemical-drop.png");}
.icon-custom-poison { background-image: image-url("poison-bottle.png");}
.icon-custom-trap { background-image: image-url("wolf-trap.png");}
.icon-custom-item { background-image: image-url("knapsack.png");}
.icon-custom-wand { background-image: image-url("crystal-wand.png");}
.icon-custom-swords { background-image: image-url("crossed-swords.png");}
.icon-custom-arrows { background-image: image-url("target-arrows.png");}
.icon-custom-swordarrow { background-image: image-url("mixed-swords.png");}

.icon-custom-spell { background-image: image-url("white-book.png");}
.icon-custom-spell-0 { background-image: image-url("white-book-0.png");}
.icon-custom-spell-1 { background-image: image-url("white-book-1.png");}
.icon-custom-spell-2 { background-image: image-url("white-book-2.png");}
.icon-custom-spell-3 { background-image: image-url("white-book-3.png");}
.icon-custom-spell-4 { background-image: image-url("white-book-4.png");}
.icon-custom-spell-5 { background-image: image-url("white-book-5.png");}
.icon-custom-spell-6 { background-image: image-url("white-book-6.png");}
.icon-custom-spell-7 { background-image: image-url("white-book-7.png");}
.icon-custom-spell-8 { background-image: image-url("white-book-8.png");}
.icon-custom-spell-9 { background-image: image-url("white-book-9.png");}
.icon-custom-spell-holy { background-image: image-url("white-book-cd.png");}
.icon-custom-spell-runes { background-image: image-url("book-cover.png");}

.icon-custom-class-arcane { background-image: image-url("robe.png");}
.icon-custom-class-cleric { background-image: image-url("holy-symbol.png");}
.icon-custom-class-rogue { background-image: image-url("cloak-dagger.png");}