/*
 * Images are from http://game-icons.net
 */

.icon-custom-armor-light { background-image: image-url("icons/leather-vest.png");}
.icon-custom-armor-medium { background-image: image-url("icons/lamellar.png");}
.icon-custom-armor-heavy { background-image: image-url("icons/breastplate.png");}
.icon-custom-shield { background-image: image-url("icons/round-shield.png");}

.icon-custom-monster { background-image: image-url("icons/imp-laugh.png");}


.icon-custom-potion { background-image: image-url("icons/drink-me.png");}
.icon-custom-light { background-image: image-url("icons/candle-flame.png");}
.icon-custom-flask { background-image: image-url("icons/fizzing-flask.png");}
.icon-custom-vial { background-image: image-url("icons/chemical-drop.png");}
.icon-custom-poison { background-image: image-url("icons/poison-bottle.png");}
.icon-custom-trap { background-image: image-url("icons/wolf-trap.png");}
.icon-custom-item { background-image: image-url("icons/knapsack.png");}
.icon-custom-wand { background-image: image-url("icons/crystal-wand.png");}
.icon-custom-swords { background-image: image-url("icons/crossed-swords.png");}
.icon-custom-arrows { background-image: image-url("icons/target-arrows.png");}
.icon-custom-swordarrow { background-image: image-url("icons/mixed-swords.png");}
.icon-custom-scroll { background-image: image-url("icons/scroll-unfurled.png");}
.icon-custom-staff { background-image: image-url("icons/wizard-staff.png");}
.icon-custom-ring { background-image: image-url("icons/ring.png");}

.icon-custom-spell { background-image: image-url("icons/white-book.png");}
.icon-custom-spell-0 { background-image: image-url("icons/white-book-0.png");}
.icon-custom-spell-1 { background-image: image-url("icons/white-book-1.png");}
.icon-custom-spell-2 { background-image: image-url("icons/white-book-2.png");}
.icon-custom-spell-3 { background-image: image-url("icons/white-book-3.png");}
.icon-custom-spell-4 { background-image: image-url("icons/white-book-4.png");}
.icon-custom-spell-5 { background-image: image-url("icons/white-book-5.png");}
.icon-custom-spell-6 { background-image: image-url("icons/white-book-6.png");}
.icon-custom-spell-7 { background-image: image-url("icons/white-book-7.png");}
.icon-custom-spell-8 { background-image: image-url("icons/white-book-8.png");}
.icon-custom-spell-9 { background-image: image-url("icons/white-book-9.png");}
.icon-custom-spell-holy { background-image: image-url("icons/white-book-cd.png");}
.icon-custom-spell-runes { background-image: image-url("icons/book-cover.png");}

.icon-custom-class-arcane { background-image: image-url("icons/robe.png");}
.icon-custom-class-cleric { background-image: image-url("icons/holy-symbol.png");}
.icon-custom-class-rogue { background-image: image-url("icons/cloak-dagger.png");}