//@import "bootstrap-sprockets";
//@import "bootstrap";
@import "mixins/flex";

.card-actions {
  display: none !important;
}

.page-background {
  background: rgb(204, 204, 204);
}

body {
  @include flexbox;
  @include justify-content(center);
  @include align-content(center);
}

.page-preview {
  background: white;
  margin: 0 auto;
  margin-bottom: 16px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.row {
  margin-left: -15px;
  margin-right: -15px;
}
.col-xs-6 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}

.col-xs-6 {
  float: left;
}

.col-xs-6 {
  width: 50%;
}

@media print {
  @page {
    size: portrait;
  }

  html {
    zoom: 100%;
  }

  .detail {
    page-break-after: auto;
    page-break-before: auto;
    page-break-inside: avoid;
  }

  .page-preview {
    margin: 0;
    padding: 0;
    border: 0;
    box-shadow: 0;
    background-color: white;
  }
  .page-background {
    margin: 0;
    padding: 0;
    border: 0;
    box-shadow: 0;
    /* Set the background to gray to visualize the page size in the print preview */
    background-color: gray;
  }

  .debug_dump {
    display: none !important;
  }
}
