<tr>
  <td></td>
  <td><%= filter.name %></td>
  <td class="last">
    <% if admin_user? %>
        <ul class="actions">
          <li><%= link_to edit_filter_path(filter), 'aria-label' => 'edit' do -%>
                <span class="glyphicon glyphicon-pencil"></span>
            <% end -%>
          </li>
          <li><%= link_to new_filter_path, method: :post, 'aria-label' => 'duplicate' do -%>
                <span class="glyphicon glyphicon-duplicate"></span>
            <% end -%>
          </li>
          <li><%= link_to filter, method: :delete, data: { confirm: "You sure?" }, 'aria-label' => 'delete' do -%>
                <span class="glyphicon glyphicon-remove"></span>
            <% end -%>
          </li>
        </ul>
    <% end %>
  </td>
</tr>
