<footer class="footer">
  <small>
    The <%= link_to "DM Workshop", root_url %></a>
    by <a href="http://www.anduin.ch/">Michael Mühlebach</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About", about_path %></li>
    </ul>
  </nav>
</footer>