<footer class="footer">
  <small>
    <p>
      &copy; <%= link_to "DM Workshop", root_url %></a> -- copyrights reserved by <a href="http://www.anduin.ch/">Michael Mühlebach</a>
    </p>
    <p>
      Wizards of the Coast, Dungeons & Dragons, and their logos are trademarks of Wizards of the Coast LLC in the United States and other countries. © 2015 Wizards. All Rights Reserved.
    </p>
    <p>
      <%= link_to "DM Workshop", root_url %> is not affiliated with, endorsed, sponsored, or specifically approved by Wizards of the Coast LLC. <%= link_to "DM Workshop", root_url %> may use the trademarks and other intellectual property of Wizards of the Coast LLC, which is permitted under Wizards' <a href="http://dnd.wizards.com/articles/features/fan-site-kit">Fan Site Policy</a>. For example, Dungeons & Dragons® is a trademark[s] of Wizards of the Coast. For more information about Wizards of the Coast or any of Wizards' trademarks or other intellectual property, please visit their website at (<a href="http://www.wizards.com/">http://www.wizards.com</a>).
    </p>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About", about_path %></li>
    </ul>
  </nav>
</footer>