<footer class="footer">
  <small>
    <p>
      &copy; <%= link_to "DM Workshop", root_url %></a> -- copyrights reserved by
      <a href="http://www.anduin.ch/">Michael &uuml;h</a>
    </p>
    <p>
      Wizards of the Coast, Dungeons & Dragons, and their logos are trademarks of Wizards of the Coast LLC in the United
      States and other countries. © 2015 Wizards. All Rights Reserved.
    </p>
    <p>
      <%= link_to "DM Workshop", root_url %> is not affiliated with, endorsed, sponsored, or specifically approved by
      Wizards of the Coast LLC. <%= link_to "DM Workshop", root_url %> may use the trademarks and other intellectual
      property of Wizards of the Coast LLC, which is permitted under Wizards'
      <a href="http://dnd.wizards.com/articles/features/fan-site-kit">Fan Site Policy</a>. For example, Dungeons &
      Dragons® is a trademark[s] of Wizards of the Coast. For more information about Wizards of the Coast or any of
      Wizards' trademarks or other intellectual property, please visit their website at
      (<a href="http://www.wizards.com/">http://www.wizards.com</a>).
    </p>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About", about_path %></li>
    </ul>
  </nav>
</footer>
<% if Rails.env.production? -%>
    <!-- Google Analytics Script -->
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function () {
                    (i[r].q = i[r].q || []).push(arguments)
                }, i[r].l = 1 * new Date();
            a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-88795648-1', 'auto');
        ga('send', 'pageview');

    </script>
<% end -%>
