<footer class="footer">
  <small>
    The <a href="http://dm-workshop.herokuapp.org">DM Workshop</a>
    by <a href="http://www.anduin.ch/">Michael Mühlebach</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
    </ul>
  </nav>
</footer>